<h1>Stupid Coaching</h1>

<div class="question-container">
  <div name="question">
    <h4><%= @question %></h4>
    <h4>-You</h4>
  </div>
</div>

<div class="answer-container">
  <div name="answer">
    <h4> <%= @answer %></h4>
    <h4>-Your Coach</h4>
  </div>
</div>







<%= link_to "Ask a new question", "/ask" %>
