// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-container {
  border-left: solid 5px #DDDDDD;
  margin-bottom: 10px;
  padding-left: 10px;
}

.answer-container {
  background-color: #FFFEE2;
  border-left: solid 5px #DDDDDD;
  padding-left: 10px;
}

